executor {
    name = 'k8s'
}

profiles {
	debug { process.beforeScript = 'echo $HOSTNAME' }
	docker {
		docker.enabled       = true
		docker.userEmulation = true
	}
}

k8s {
	k8s.runAsUser = '1057:1001'
	k8s.computeResourceType = 'Job'
	k8s.namespace = "analyst-services"
	k8s.storageClaimName = "graphtyper"
}
