wave {
    enabled = true
}

fusion {
    enabled = false
}

process {
    executor = 'k8s'
}

k8s {
    context = 'local'
    serviceAccount = 'tower-launcher-sa'
	runAsUser = 1057
	runAsGroup = 1001
	computeResourceType = 'Job'
	namespace = 'nextflow'
	storageClaimName = 'graphical'
	storageMountPath = '/scratch/playground/chriskub/graphtyping'
}

profiles {
	debug { process.beforeScript = 'echo $HOSTNAME' }
	docker {
		docker.enabled       = true
		docker.userEmulation = true
	}
}